name: .NET Core

on:
  push:
    branches: [ main ]
    # Sequence of patterns matched against refs/tags
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

env:
  DOTNET_VERSION: 8.x

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
       
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build
      run: dotnet pack --configuration Release -o . 
    
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: NuGet
        path: ${{ github.workspace }}\*.nupkg

  test-console:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download NuGet Artifacts
        uses: actions/download-artifact@v3
        with:
          name: NuGet
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Test Template
        run: |
          dotnet new install $(Get-ChildItem -Path "Keboo.Dotnet.Templates.*.nupkg").Name
          mkdir TestConsoleApp
          Push-Location TestConsoleApp
          dotnet new keboo.console
          dotnet test
          dotnet pack --configuration Release -o ./NuGet

  test-wpf:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download NuGet Artifacts
        uses: actions/download-artifact@v3
        with:
          name: NuGet

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Test Template
        run: |
          dotnet new install $(Get-ChildItem -Path "Keboo.Dotnet.Templates.*.nupkg").Name
          mkdir TestWpfApp
          Push-Location TestWpfApp
          dotnet new keboo.wpf
          dotnet test

  test-library:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download NuGet Artifacts
        uses: actions/download-artifact@v3
        with:
          name: NuGet

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Test Template
        run: |
          dotnet new install $(Get-ChildItem -Path "Keboo.Dotnet.Templates.*.nupkg").Name
          mkdir TestLibrary
          Push-Location TestLibrary
          dotnet new keboo.nuget
          dotnet test
          dotnet pack --configuration Release -o ./NuGet

  automerge:
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.9.1
        with:
          use-github-auto-merge: true

  push_nugets:
    if: ${{ github.event_name != 'pull_request' }}
    name: Push NuGets
    runs-on: ubuntu-latest
    needs: [build, test-console, test-wpf, test-library]

    steps:
      - name: Download NuGet Artifacts
        uses: actions/download-artifact@v3
        with:
          name: NuGet

      - name: Push NuGets
        run: |
          dotnet nuget push *.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
